---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "../../layouts/Main.astro";

const posts: CollectionEntry<'blog'>[] = (await getCollection("blog"))
  .sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => 
    a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );
---

<Main>
  <h1>This is the blog page</h1>
  <section>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Main>