---
import BaseLayout from "../../layouts/BaseLayout.astro"
const title = "Blog"
const description = "Blog posts about web development, design, and more."
---

<BaseLayout title={title} description={description}>
  <h1>{title}</h1>
  <strong>This is just to test blog.</strong>
  <p>{description}</p>

</BaseLayout> 
