---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "../../layouts/Main.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getPosts } from "../../utils/getPosts";

const posts: CollectionEntry<'blog'>[] = await getPosts({limit: 5})

const pageName = "Blog";
---

<Main {pageName}>
	<p>Welcome to the {pageName} page!</p>
<section>
	{posts.map((post: CollectionEntry<'blog'>) => (
    <ArticleCard {post} />
	))}
</section>
</Main>

<style>
  section {
    display: flex;
    flex-direction: column;
    /* gap: .25rem; */
  }
</style>