body {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', Arial, sans-serif;
  hr {
    color: lightgray;
  }
  min-height: 100vh;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Castoro Tiling';
  src: url('/public/fonts/CastoroTitling-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
@font-face {
  font-family: 'Quicksand';
  src: url('/public/fonts/Quicksand-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Castoro Tiling', 'Times New Roman', serif;
}