---
import Main from "../../../layouts/Main.astro";
import BackButton from "../../../components/Navigation/BackButton.astro";

import { Categories } from "../../../content/config"

const pageName = "Post Categories";
---

<Main {pageName}>
  <p>Categories will be displayed here...</p>
  <ul>
    {Object.values(Categories).map((category: string) => <li><a href={`/blog/categories/${category.toLowerCase()}`}>{category}</a></li>)}
  </ul>
  <BackButton />
</Main>
