---
const { currentPath } = Astro.props;
console.log("breadcrumb currentPath:", currentPath);
// const getBreadcrumbs = (path: string) => {
//   if (typeof path !== "string") {
//     console.error("currentPath is not a string:", currentPath);
//     return [];
//   }
  
//   // if (path.endsWith("/")) splitPath.pop(); // remove last element if path has a trailing '/'
//   // let breadcrumbs = [];

//   // while (splitPath.length > 0) {
//   //   // stop until where the first path preceeding the trailing '/' at index 1 i.e ['', 'first_path', 'second_path' , ...]
//   //   splitPath.pop();
//   //   breadcrumbs.push(splitPath.join("/"));
//   //   console.log(breadcrumbs)
//   }

//   return breadcrumbs;
// };
const breadcrumbs: string[] = currentPath === '/' ? ["/"] : currentPath.split("/").reduce((acc: string[], cur: string, index: number) => (
  [...acc, `${acc[index]}${index ? "/" : ""}${cur}` ]
  ),[""]).slice(1)

// const breadcrumbs = getBreadcrumbs(currentPath as string).reverse();
console.log(breadcrumbs)
---

<div class="breadcrumbs">
  <!-- <span><a href="/">Home</a> {">"}</span> -->
  {
    breadcrumbs &&
      breadcrumbs.map((breadcrumb, index, array) => {
        if (index > 0) {
          return (
            <span>
              <a href={breadcrumb}>{breadcrumb.split("/").pop()}</a> { index < array.length - 1 && ">"}{" "}
            </span>
          )
        } else {
          return ( 
            <span>
              <a href="/">Home</a>{array.length > 1 && ">"}
            </span>
          )
        }
      })
  }
</div>
<style>
  div.breadcrumbs {
    display: flex;
    margin: .25em auto;
    padding-left: .75em;
    /* justify-content: center; */
    align-content: center;
    max-width: 700px;
  }
  a {
    padding: 0.25em;
  }
</style>
