---
import Navitem from "./Navitem.astro";
const currentPath = new URL(Astro.request.url).pathname;
console.log(currentPath);
---

<div class="slat">
  <div class="nav-container">
    <a href="/"><strong>ANTHONY REYNOLDS</strong></a>
    <nav>
      <Navitem href="/" currentPath={currentPath}>Home</Navitem>
      <Navitem href="/blog" currentPath={currentPath}>Blog</Navitem>
      <Navitem href="/about" currentPath={currentPath}>About</Navitem>
      <Navitem href="/contact" currentPath={currentPath}>Contact</Navitem>
    </nav>
  </div>
</div>

<style lang="scss">
  @import "../../styles/utils/variables";
  a {
    color: map-get($colors, "light");
    display: block;
    font-size: 1rem;
    margin: 0 1rem;
    // text-decoration: overline;
    // font-weight: light;
    // border-bottom: 1px solid black;
  }
  nav {
    //  border: 1px dotted red;
    // background: white;
    display: flex;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
  }
  .slat {
    // background-color: midnightblue;
    background-color: map-get($colors, "secondary");
  }
</style>
