---
type Props = {
  href: string,
  currentPath: string
}
const {href, currentPath} = Astro.props
const isActive = new RegExp(`^${href}(\/|$)`).test(currentPath);
const activeClass = isActive ? 'active' : '';
---

<a href={href} class={`hl-on-hover ${activeClass}`}>
  <slot />
</a>

<style lang="scss">
  @import "../../styles/utils/_variables";
  a {
    display:inline-block;
    padding: 1em;
    color: map-get($colors, 'light');
    /* background-color: cyan; */
  }
  a.active {
    /* border: 1px solid black; */
    background-color: lightslategray;
    color: white;
  }
</style>