---
import Main from "../layouts/Main.astro";
import ArticleCard from "../components/ArticleCard.astro";
const pageName = "Home";

import { getCollection, type CollectionEntry } from "astro:content";
import { getPosts } from "../utils/utils"


const latestArticle: CollectionEntry<'blog'> = (await getPosts({latest: true}))[0];
---

<Main {pageName}>
	<p>Welcome to the {pageName} page!</p>
	<h2>Latest Article</h2>
	<ArticleCard post={latestArticle} />
	<h2>Here is where I will put other things...</h2>
	<p>As I built this site out I will be able to display new features</p>
</Main>