---
import Home from "../layouts/Home.astro";
import ArticleCard from "../components/ArticleCard.astro";
const pageName = "Home";

import { getCollection, type CollectionEntry } from "astro:content";
import { getPosts } from "../utils/utils";

const latestArticle: CollectionEntry<"blog"> = (
	await getPosts({ latest: true })
)[0];
---

<Home {pageName} fluid={true} bg={false}>
	<section class="slat-0">
		<div class="constrain">
			<h2>Welcome</h2>
			<p>This is my personal portfolio and blog website.</p>
		</div>
	</section>
	<section class="slat-1">
		<div class="hero constrain"></div>
	</section>
	<section class="slat-2 tes-bg">
		<div class="about-me constrain">
			<h2>Latest Post</h2>
			<ArticleCard post={latestArticle} />
		</div>
	</section>
	<div class="slat-3"></div>
	<h2>Here is where I will put other things...</h2>
	<p>As I built this site out I will be able to display new features</p>
</Home>

<style lang="scss">
	@import "../styles/utils/_variables.scss";
	.slat-0 {
		background-color: map-get($colors, "light");
		padding: 1em 1em 2em 1em;
		margin: -1.75rem 0;
		div {
			padding-bottom: 2.5em;
		}
		h2 {
			text-align: center;
			margin-bottom: .25em;

		}
		p {
			text-align: center;
		}
		color: map-get($colors, "dark");
	}
	.slat-1 {
		background-color: map-get($colors, "secondary");
		color: map-get($colors, "light");
		margin-top: -2.75em;
		padding: 4em;
		z-index: 300;
		clip-path: polygon(
			0% 10%,
			40% 10%,
			50% 0%,
			100% 0%,
			100% 100%,
			50% 100%,
			40% 90%,
			0 90%
		);
		// clip-path: polygon(33% 0%, 100% 0%, 66% 50%, 100% 100%, 33% 100%, 0% 50%);
		// clip-path: polygon(
		// 	100% 0%,
		// 	100% 90%,
		// 	60% 90%,
		// 	50% 100%,
		// 	40% 90%,
		// 	0 90%,
		// 	0 0%,
		// 	40% 0%
		// );
	}
	.slat-2 {
		background-color: map-get($colors, "light");
		padding-bottom: 4em;
		clip-path: polygon(
			100% 0%,
			100% 90%,
			60% 90%,
			50% 100%,
			40% 90%,
			0 90%,
			0 0%,
			40% 0%
		);
		// margin-top: -1em;
		margin-bottom: -2em;
		z-index: 300;
		h2 {
			margin-top: 0;
		}
	}
	.about-me {
		padding: 0 1em;
	}
	.slat-3 {
		min-height: 400px;
		background-color: lightslategray;
	}
	.hero {
		h2 {
			margin: 0 auto;
			text-align: center;
		}
	}
</style>
