<footer>
  <div class="slat">
    <h6>This is the footer.</h6>
    <strong
      >Copyright &copy; {new Date().getFullYear()} Anthony Mark Reynolds. All rights
      reserved.</strong
    >
  </div>
</footer>

<style lang="scss">
  @import "../styles/utils/_variables.scss";
  .slat {
    max-width: 700px;
    margin: 0 auto;
  }
  footer {

    margin-top: auto;
    padding: 1rem;
    bottom: 0px;
    // background: darken(map-get($colors, "tertiary"),25%);
    background-color: map-get($colors, "dark");
    color: map-get($colors, "light");
  }
</style>
