<footer>
  <h6>This is the footer.</h6>
  <strong>copyright &copy; {new Date().getFullYear()} Anthony Mark Reynolds. All rights reserved.</strong>
</footer>

<style lang="scss">
  footer {
    margin-top: auto;
    bottom: 0px;
    background: oldlace;
    
  }
</style>