<div>
  <div class="preheader2" id="top-nav">
    <strong>Top Nav</strong>
  </div>

  <div class="preheader" id="mid-nav">
    <strong>Mid Nav</strong>
  </div>
</div>

<header class="nav" id="bottom-nav">
  <strong>Bomttom Nav</strong>
</header>

<style lang="scss">
  strong {
    font-family: "Advent Pro", sans-serif;
  }

  .preheader2 {
    position: sticky;
    background: gray;
    top: 0;
    padding: 0.5em;
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: oldlace;
  }

  .preheader {
    padding: 0.5em;
    background: #ddd;
  }

  header {
    position: sticky;
    top: 0;
    padding: 0.5em;
    background: gray;
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: oldlace;
  }
</style>
