---
const { tags } = Astro.props;

interface Props {
  tags: string[];
}
---

{
  tags.map((tag) => (
    <a href={`/blog/tags/${tag}`}>
      <span>{tag}</span>
    </a>
  ))
}

<style>
  a {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
</style>
