---
const {tags } = Astro.props

interface Props {
  tags: string[];
}
---

{tags.map(tag => (
  <span>{tag}</span>
))}

<style>
  span {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }  
</style>