---
import Main from "../../../../layouts/Main.astro";

import { Categories } from "../../../../content/config";

const { category } = Astro.params

const isCategory = category as string in Categories
console.log(isCategory)

const pageName = isCategory ? `Category: ${category}` : `Category not found`
---

<Main {pageName}>
  <p>functionality coming soon</p>
</Main>
