---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
  pageName: string;
};

const { pageName } = Astro.props;
---

<html lang="en">
  <head>
    <Head />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <Header />
  <body>
    <main>
      <div class="slat">
        <h1>{pageName}</h1>
      </div>
      <slot />
      <hr />
    </main>
    <Footer />
  </body>
</html>

<style>
  .slat {
    background-color: lightslategray;
    h1 {
      color: white;
      padding: 1rem;
      max-width: 700px;
      margin: 0 auto;
    }
  }
</style>